.unseen-episodes header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 20px;
}

.unseen-episodes header button {
  font-size: 1.2em;
}

.unseen-episodes table {
  width: 100%;
  padding-bottom: 30px;
  border-bottom: solid 1px #dbdbdb;
}

.unseen-episodes table tr {
  height: 30px;
}

.unseen-episodes table tr td:nth-child(1),
.unseen-episodes table tr td:nth-child(2) {
  font-weight: bold;
}

.unseen-episodes table tr td:last-child {
  text-align: right;
}
